.recipe-details {
  position: absolute;
  left: 29%;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0.5em;
  margin: 0 0.5em;
}

.recipe-details h2, a, a:visited, a:hover, a:active{
  color: white;
}

.recipe-details a, .health-label {
  font-family: "Cabin", sans-serif;
}

.recipe-details h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  position: relative;
  font-size: 1.2em;
  text-align: left;
  line-height: 1.5em;
}

.recipe-details a {
  font-size: 1em;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0.5em;
  padding: 0.5em;
  color: black;
  text-decoration: none;
  border-radius: 10%;
  background-color: white;
}

.health-labels {
  color: white;
  text-align: left;
}

.health-label {
  font-size: 9px;
  float: left;
  margin-right: 0.5em;
  margin-top: 0.5em;
  padding:4px;
  border-radius: 10%;
  background-color: black;

}

/* .ingredients {
  font-size: 12px;
  color: white;
} */

@media only screen and (max-width: 961px) {
  .recipe-details {
    left: 33%;
    width: 36%;
  }

  .recipe-details h2 {
    font-size: 1.1em;
  }

  .recipe-details a {
    font-size: 0.9em;
  }

}

@media only screen and (max-width: 831px) {
  .recipe-details {
    left: 30%;
    width: 39%;
  }

  .recipe-details a {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 741px) {
  .recipe-details {
    width:36%;
  }

  .recipe-details h2 {
    font-size: 0.9em;
  }

  .health-label {
    font-size: 7px;
  }

  .recipe-details a {
    font-size: 0.7em;
  }

}

@media only screen and (max-width: 651px) {
  .recipe-details {
    left: 47%;
    width: 51%;
  }

  .recipe-details h2 {
    font-size: 1.2em;
  }

  .recipe-details a {
    font-size: 1em;
    margin-left:0.5em;
    left: 0;
  }
}

@media only screen and (max-width: 501px) {
  .recipe-details {
    left: 48%;
    width: 49%;
  }

  .recipe-details h2 {
    font-size: 1.1em;
  }

  .recipe-details a {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 420px) {
  .recipe-details {
    left: 47%;
  }

  .recipe-details h2 {
    font-size: 0.9em;
  }

  .health-label {
    font-size: 6px;
  }

  .recipe-details a {
    font-size: 0.6em;
    margin-left: 0.7em;
  }

}
