.recipe-wrapper {
  width: 45em;
  display: block;
  position: relative;
  margin: 3.2em auto;
  margin-bottom: 0;
  transition: margin 0.9s;
}

@media only screen and (max-width: 961px) {
  .recipe-wrapper {
    width: 35em;
  }
}

@media only screen and (max-width: 831px) {
  .recipe-wrapper {
    width: 25em;
  }
}

@media only screen and (max-width: 741px) {
  .recipe-wrapper {
    width: 20em;
  }
}

@media only screen and (max-width: 651px) {
  .recipe-wrapper {
    width: 20em;
  }
}

@media only screen and (max-width: 501px) {
  .recipe-wrapper {
    width: 20em;
  }
}

@media only screen and (max-width: 420px) {
  .recipe-wrapper {
    width: 18em;
  }
}
