@import "config";

html {
  background: $home-image no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}

button {
  outline: none;
  cursor: pointer;
}

#root {
  min-height: 96%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0;
}

label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

label:hover input ~ {
  background-color: #DFDFDF;
}

label ~ :after {
  display: block;
}

label :after {
  border: solid white;
  transform: rotate(45deg);
}

.error {
  color: red;
  font-family: $primary-font;
  font-size: 1.5em;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
  width: 10em;
  text-align: center;
  margin: 1em auto;
  line-height: 1.5;
}

#footer {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;  position: relative;
  bottom:0;
  width:100%;
  text-align: center;
  margin: 0;
}

#footer p {
  margin-bottom: 0.2em;
}

#edamam-api {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

#edamam-api a {
  color: rgb(145, 215, 50);
  background-color: white;
  padding: 0.1em;
}


#edamam-api {
  z-index: 100;
}

#edamam-api a {
  text-decoration: none;
}




